* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* Common */
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.align-self-end {
  align-self: end !important;
}
html {
  font-size: 18px;
}
#heading {
  font-size: 50px;
  display: flex;
}
#heading h1 {
  margin: auto;
}
#body {
  display: flex;
}
.dropdown {
  margin: 8px;
}
#body > div {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;
  flex: 1;
  margin: 0 8px;
}
#body textarea {
  outline: none;
  color: black;
  resize: none;
  flex: 1;
}
#body button {
  background-color: #4285f4;
  color: white;
  border: none;
  outline: none;
  width: 150px;
  padding: 5px;
  margin-top: 8px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;
}
#body button:hover {
  opacity: 0.8;
}
#body button:disabled {
  opacity: 0.8;
  cursor: default;
}
#keyField {
  width: 50%;
  margin: 8px;
}
#keyInput {
  width: 70%;
}
.fa-arrow-right {
  padding-left: 8px;
}
.fa-arrow-left {
  padding-right: 8px;
}
#more {
  display: none;
}
#about {
  margin-top: 35px;
}
#about > h2,
#about > div {
  margin: 16px 8px;
}
#about > div > h2 {
  margin-right: 14px;
}

.toast-msg {
  position: fixed;
  top: 5%;
  right: 2%;
  font-size: 25px;
  margin: auto;
  display: flex;
  padding: 14px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 5px #e9e9e9;
  animation: slideIn ease 1s, slideOUt linear 3s forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(115%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideOUt {
  to {
    opacity: 0;
  }
}
.toast-msg .icon {
  margin: 0 8px;
}
.toast-msg .icon i {
  color: #1cc448;
}
.toast-msg .content {
  min-width: 200px;
  text-align: center;
}
.toast-msg .close-btn {
  font-size: 12px;
  opacity: 0.7;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
#footer {
  display: flex;
  background-color: #fbfbfb;
  padding: 20px 0px;
  justify-content: space-around;
  margin-top: 30px;
  border-top: 1px solid #00000017;
}
#footer > div {
  margin: auto;
  text-align: center;
}
#footer > div:nth-child(1) {
  flex: 1;
}
#footer > div:nth-child(2) {
  flex: 3;
  margin-right: 50px;
}
#footer li {
  list-style-type: none;
  margin: 10px 0;
}
#footer p {
}
